@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: rgba(144, 107, 163, 1);
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
body.no-scroll {  overflow: hidden; /* 스크롤 막기 */  }

section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* hedaer */
header{ padding: 12px 0; position: fixed; left: 0; top: 0; width: 100%; z-index: 999; background: linear-gradient(90deg, rgba(144, 107, 163, 0.00) 0%, #906BA3 100%), #278FB3; box-shadow: 4px 13px 23px 0 rgba(0, 0, 0, 0.15); }
header .inner{ display: flex; align-items: center; justify-content: space-between; }
header .menu_list{ display: flex; align-items: center; gap: 83px; font-family: 'Paperlogy'; color: #fff; font-size: 18px; font-weight: 600; }
header .menu_btn{ display: none; }

@media screen and (max-width: 1250px) { 
    header .menu_btn{ display: block; background-color: transparent; border: none; }
    header .menu_btn .icon{ width: 30px; }
    header .menu_list{ display: none; }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 120px; }
    header .menu_btn .icon{ width: 20px; }
}

/* slide_menu */
.slide_menu{ transition: right .5s; position: fixed; z-index: 9999; right: -300px; top: 0; background-color: #fff; overflow-y: scroll; width: 300px; height: 100%; max-width: 90%; }
.slide_menu.show{ right: 0; }
.slide_menu .btn_wrap{ padding: 20px 10px; display: flex; align-items: center; justify-content: flex-end; }
.slide_menu .btn_wrap .close_btn{ background: transparent; border: none; background: transparent; border: none; }
.slide_menu .btn_wrap .close_btn .icon{ width: 20px; }
.slide_menu .menu_list{ color: #373737; font-size: 20px; border-top: 1px dashed rgba(144, 107, 163, 1); }
.slide_menu .menu_list .item{ padding: 20px 10px; font-family: 'Paperlogy'; font-weight: 600; border-bottom: 1px dashed rgba(144, 107, 163, 1); }

.menu_close_bg{ opacity: 0; visibility: hidden; backdrop-filter: blur(2px); position: fixed; left: 0; top: 0; background-color: rgba(0,0,0,0.5); width: 100%; height: 100%; z-index: 999; cursor: pointer; }
.menu_close_bg.show{ opacity: 1; visibility: visible; }

/* footer */
footer{ line-height: 1.5em; background-color: #4C5256; padding: 28px 0; color: rgba(196, 196, 196, 1); }
footer .inner{ gap: 48px; display: flex; align-items:flex-start;  }
footer .content_box{ flex-grow: 1; }
footer .copy_right{ margin-top: 8px; font-size: .8em; }
footer .info_btn{ background-color: transparent; border: none; }

@media screen and (max-width: 950px) { 
    footer .inner{ flex-direction: column; gap: 20px; }
    footer .content_box{ order: 1; }
}
@media screen and (max-width: 650px) { 
    footer .logo{ width: 120px; }
    footer{ font-size: 14px; }
}

/* .sec_top */
.sec_top{ padding-top: 80px; }
@media screen and (max-width: 650px) { 
    .sec_top{ padding-top: 70.34px; }
}

/* .main .slide_section */
.main .slide_section{ padding: 100px 0; display: flex; align-items: center; justify-content: center; min-height: 100vh; overflow:hidden; position: relative; background: linear-gradient(90deg, rgba(144, 107, 163, 0.00) 0%, #906BA3 100%), #278FB3; box-shadow: 4px 13px 23px 0 rgba(0, 0, 0, 0.15); }
.main .slide_section .pcBg{ border-radius: 20px; box-shadow: 10px 15px 19px 0 rgba(0, 0, 0, 0.25); padding: 100px 0; height: 625px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .slide_section .moBg{ display: none; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .slide_section .swiper-pagination{ bottom: 25px; display: flex; align-items: center; gap: 15px; justify-content: center; }
.main .slide_section .swiper-pagination-bullet{ opacity: 1; background-color: #fff; border-radius: 50%; border: 2px solid #222; width: 26px; height: 26px; box-shadow: 0 3px 0 0 #222; }
.main .slide_section .swiper-pagination-bullet-active{ background-color: #EBE168; }
@media screen and (max-width: 1250px) { 
    .main .slide_section{ min-height: unset; }
    .main .slide_section .pcBg{ height: 40vw; }
}
@media screen and (max-width: 950px) { 
    .main .slide_section{ min-height: 100vh; padding: 0; }
    .main .slide_section .pcBg{ display: none; }
    .main .slide_section .moBg{ border-radius: 2vw; box-shadow: 10px 15px 19px 0 rgba(0, 0, 0, 0.25); display: block; height: 126vw; }
    .main .slide_section .swiper-pagination{ bottom: 15px; gap: 10px; }
    .main .slide_section .swiper-pagination-bullet{ width: 15px; height: 15px; }
}

/* .main .keywrod_slide */
.main .keywrod_slide{ padding: 30px 0; position: relative; overflow: hidden; background-color: #906BA3; border-top: 1px solid #222; border-bottom: 1px solid #222; }
.main .keywrod_slide .keyword_list{ display: flex; align-items: center; }
.main .keywrod_slide .keyword_list + .keyword_list{ margin-top: 25px; }
.main .keywrod_slide .keyword_list.reverse{ justify-content: flex-end; }
@media screen and (max-width: 650px) { 
    .main .keywrod_slide{ padding:14px 0; }
    .main .keywrod_slide .keyword_list .keywrod{ width: auto; height: 30px; }
    .main .keywrod_slide .keyword_list + .keyword_list{ margin-top: 10px; }
}

/* .main .video_section */
.main .video_section{ background: linear-gradient(180deg, #906BA3 0%, rgba(144, 107, 163, 0.00) 100%), #278FB3; padding: 74px 0; padding: 80px 0; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.main .video_section .inner{ display: flex; flex-direction: column; align-items: center; justify-content: center; }
.main .video_section .t1{ position: relative; padding-bottom: 10px; text-align: center; color: #EBE168; font-family: 'Paperlogy'; font-weight: 700; font-size: 46px; }
.main .video_section .t1::after{ content:''; display: span; background-color: #EBE168; width: 100%; height: 5px; position: absolute; left: 0; bottom: 0; }
.main .video_section .video_wrap{ margin-top: 27px; width: 1300px; max-width: 100%; overflow: hidden; border-radius: 10px; height: 750px; }

@media screen and (max-width: 1320px) { 
    .main .video_section{ min-height: unset; }
    .main .video_section .video_wrap{ height: 52vw; }
    .main .video_section .t1{ font-size: 30px; }
}

@media screen and (max-width: 650px) { 
    .main .video_section .t1{ font-size: 6vw; padding-bottom: 1.7vw; }
    .main .video_section .t1::after{ height: .7vw; }
}

/* .sub .sub_banner */
.sub .sub_banner{ padding: 0 0 36px 0; color: #fff; background-color: #222; font-family: 'Paperlogy'; }
.sub .sub_banner .inner{ padding-top: 100px; background-repeat: no-repeat; background-position: right bottom; }
.sub .sub_banner .map{ display: flex; align-items: center; gap: 10px; flex-wrap: wrap; font-weight: 700; }
.sub .sub_banner h1{ margin-top: 12px; font-family: 'Paperlogy' !important; font-size: 36px; font-weight: 700; }

@media screen and (max-width: 650px) { 
    .sub .sub_banner .map{ font-size: 14px; }
    .sub .sub_banner h1{ font-size: 6vw; margin-top: 10px; }
}

/* .sub .content_section */
.sub .content_section{ padding:100px 0; }
.sub .content_section h2{ text-align: center; font-family: 'Paperlogy' !important; font-weight: 600; font-size: 36px; }
@media screen and (max-width: 1250px) { 
    .sub .content_section h2{ font-size: 32px; }
}
@media screen and (max-width: 650px) { 
    .sub .content_section{ padding:10vw 0 20vw 0; }
    .sub .content_section h2{ font-size: 5.5vw; }
}

/* .sub.question */
.sub.question .sub_banner{ background-color: #EA5E75; }
.sub.question .sub_banner .inner{ background-image: url('../img/question/banner_icon.svg'); }
.sub.question .qna_list{ margin-top: 36px; }
.sub.question .qna_list > li + li{ margin-top: 6px; }
.sub.question .qna_list > li .item{ padding: 10px 20px; border-radius: 10px; overflow: hidden; border: 1px solid #E4E4E4; box-shadow: 4px 10px 4px 0 rgba(0, 0, 0, 0.15); }
.sub.question .qna_list .box{ background-repeat: no-repeat; background-position: left 10px top 8px; font-size: 18px; font-weight: 700; padding: 15px 10px; padding-left: 50px; display: flex; align-items: flex-start; }
.sub.question .qna_list .box .text{ flex-grow: 1; }
.sub.question .qna_list .box.q_box{ cursor:pointer; background-image: url('../img/question/q_icon.svg'); }
.sub.question .qna_list .box.a_box{ background-position: left 10px top 12px; display: none; border-top: 1px solid #E4E4E4; padding-top: 15px; margin-bottom: 10px; background-image: url('../img/question/a_icon.svg'); }
.sub.question .qna_list .box .arrow_box{ background-color: transparent; border: none; transition: transform .5s; }  
.sub.question .qna_list .item.show .arrow_box{ transform: rotate(-180deg); }

@media screen and (max-width: 650px) { 
    .sub.question .qna_list > li .item{ padding: 10px; }
    .sub.question .qna_list .box{ background-size: 20px; padding-left: 45px; font-size: 16px; }
    .sub.question .qna_list .box.q_box{ background-position: left 10px top 10px; }
    .sub.question .qna_list .box.a_box{ background-position: left 10px top 14px; }
}


/* .intro_section */
.intro_section{ background-color: #8E67A1; display: flex; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; z-index: 99999; width: 100%; height: 100%;  } 
.intro_section.fade-out{  opacity: 0; transition: opacity 1s ease-in-out; }
.intro_section > img{ max-width: 100%; }
.intro_section .ab{ position: absolute; opacity: 0; }
.intro_section .mo{ display: none; }

@media screen and (max-width: 950px) { 
    .intro_section .mo{ display: block; }
    .intro_section .pc{ display: none; }
}